wm
wm.exe

global
global.exe

untitled
untitled.exe

wm.vwatch.bas
wm.vwatch
wm.vwatch.exe

global.vwatch.bas
global.vwatch
global.vwatch.exe

direntry.h
timers.h
vwatch
vwatch.bas

qb64
internal/
source/
